@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url(../fonts/DMSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url(../fonts/DMSans-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: DMSans;
  font-display: swap;
  src: url(../fonts/DMSans-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: LexendDeca;
  font-display: swap;
  src: url(../fonts/LexendDeca-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: DMSans,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: DMSans,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  margin: 0 auto;
  max-width: 80.5rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.about-bottom__big-image,
.about-bottom__big-image>img,
.about-bottom__body,
.about-bottom__container,
.about-bottom__content,
.about-bottom__decor-picture>img,
.about-top,
.about-top__left-image,
.about-top__left-image>img,
.about-top__right-image,
.about-top__right-image>img,
.baner,
.baner__container,
.bookbox__big-image,
.bookbox__big-image>img,
.bookbox__left-image,
.link,
.menu,
.menu__actions,
.menu__body,
.menu__icon,
.menu__logo,
.popup__body,
.popup__close,
.popup__close span,
.popup__form,
.service__card,
.service__cardlink,
.titlepage__body>*,
.titlepage__image,
.titlepage__image>img,
.titlepage__sub-image {
  position: relative
}
.about-bottom__big-image>img,
.about-bottom__content,
.about-bottom__decor-picture>img,
.about-top,
.about-top__left-image>img,
.about-top__right-image>img,
.baner__container,
.bookbox__big-image>img,
.header::before,
.menu__actions,
.menu__body,
.menu__icon,
.menu__logo,
.popup__body,
.popup__close,
.service__cardlink {
  z-index: 5
}
.about-bottom,
.about-bottom__article,
.about-bottom__container,
.baner__container,
.bookbox__article,
.bookbox__body,
.footer__body,
.footer__list,
.footer__nav,
.invitebox,
.menu__actions,
.menu__body,
.popup__close,
.service__cardlink,
.service__titlebox,
.titlepage__article {
  display: flex
}
.about-bottom__content,
.about-top__body,
.baner__article,
.menu,
.menu__list,
.popup__body,
.popup__inputbox,
.popup__wrapper {
  display: flex;
  align-items: center
}
.about-top__article,
.baner__article,
.bookbox__article,
.footer__list,
.invitebox,
.popup__body,
.popup__inputbox,
.service__cardlink,
.service__titlebox {
  flex-direction: column
}
.bookbox__article,
.service__cardlink,
.service__titlebox {
  row-gap: 2em
}
a,
button {
  -webkit-tap-highlight-color: transparent
}
a>*,
button>* {
  pointer-events: none
}
a:focus,
button:focus {
  outline: 0
}
body {
  background-color: #dfccc2;
  color: #fff
}
img {
  max-width: 100%
}
.text {
  font-weight: 400;
  line-height: 150%;
  color: #6e645f
}
.about-bottom__title,
.about-top__title,
.bookbox__title,
.service__boxtitle,
.titlepage__title {
  background-image: linear-gradient(90deg,#fff 50%,transparent 50%);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0
}
.anima .about-bottom__title,
.anima .about-top__title,
.anima .bookbox__title,
.anima .service__boxtitle,
.anima .titlepage__title {
  transition: background-position .5s linear 1s;
  background-position: 0 0
}
.about-bottom__text,
.about-top__text,
.titlepage__text {
  background-image: linear-gradient(90deg,#6e645f 50%,transparent 50%);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0
}
.anima .about-bottom__text,
.anima .about-top__text,
.anima .titlepage__text {
  transition: background-position .5s linear 1.5s;
  background-position: 0 0
}
.title {
  font-family: LexendDeca;
  line-height: 120%;
  letter-spacing: -1.5px
}
.title--big {
  font-family: LexendDeca;
  line-height: 110%;
  letter-spacing: -2.25px
}
.footer__link,
.menu__link {
  transition: color .3s linear .5s,text-shadow .3s linear 0s
}
.hover.footer__link,
.hover.menu__link {
  transition: color .2s linear 0s,text-shadow .2s linear .2s;
  color: #f95454;
  text-shadow: 1px 1px 4px #f95454
}
.link {
  display: inline-flex;
  font-size: 1rem;
  padding-bottom: .46875rem;
  font-weight: 500;
  letter-spacing: -.4px
}
.link span {
  transition: background-position .3s linear .5s,text-shadow .3s linear 0s;
  background-image: linear-gradient(0deg,#f95454 50%,#fff 50%);
  background-size: 100% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}
.link.hover span {
  transition: background-position .1s linear 0s,text-shadow .1s linear .1s;
  background-position: 0 100%;
  text-shadow: 1px 1px 4px #f95454
}
.link.hover::before {
  box-shadow: 1px 1px 4px #f95454
}
.link:before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: .125rem;
  background-color: #f95454;
  transition: box-shadow .5s linear 0s
}
.baner__text,
.footer,
.link,
.menu {
  font-weight: 500;
  letter-spacing: -.4px
}
.decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.decor__decitem {
  position: absolute
}
.anima .about-top__left-image,
.anima .bookbox__big-image,
.anima .titlepage__image {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: -webkit-transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s,-webkit-transform 1s ease 0s
}
.anima-prev .about-top__left-image,
.anima-prev .bookbox__big-image,
.anima-prev .titlepage__image {
  -webkit-transform: translateY(-150px);
  transform: translateY(-150px)
}
.anima-next .about-top__left-image,
.anima-next .bookbox__big-image,
.anima-next .titlepage__image {
  -webkit-transform: translateY(150px);
  transform: translateY(150px)
}
.about-bottom__decor-picture>img,
.bookbox__link,
.bookbox__right-image,
.card__group,
.titlepage__sub-image {
  -webkit-transform: scale(0);
  transform: scale(0)
}
.anima .about-bottom__decor-picture>img,
.anima .bookbox__link,
.anima .bookbox__right-image,
.anima .card__group,
.anima .titlepage__sub-image {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: -webkit-transform .5s linear 1.5s;
  transition: transform .5s linear 1.5s;
  transition: transform .5s linear 1.5s,-webkit-transform .5s linear 1.5s
}
body.loaded {
  overflow: auto
}
body.pop-block {
  overflow: hidden
}
.page * {
  transition: -webkit-transform .3s linear 0s;
  transition: transform .3s linear 0s;
  transition: transform .3s linear 0s,-webkit-transform .3s linear 0s
}
.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color .5s linear 0s
}
.page-scroll .header::before,
.pop-block .header::before {
  background-color: #bc947f
}
.header__container {
  padding-left: .9375rem;
  padding-right: .9375rem;
  padding-top: 2.6875em;
  padding-bottom: .625rem;
  max-width: 85.75rem;
  transition: padding-top .5s linear 0s
}
.page-scroll .header__container,
.pop-block .header__container {
  padding-top: .625rem
}
.menu {
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  justify-content: space-between
}
.menu__list {
  row-gap: .5em
}
.menu__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.menu__actions {
  justify-content: flex-end
}
.footer,
.page {
  transition: -webkit-transform 1s linear 0s;
  transition: transform 1s linear 0s;
  transition: transform 1s linear 0s,-webkit-transform 1s linear 0s
}
.menu-open .footer,
.menu-open .page {
  -webkit-transform: translateX(40%);
  transform: translateX(40%)
}
.icon-menu {
  display: none;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5em
}
.icon-menu::after,
.icon-menu::before {
  content: ""
}
.icon-menu::after,
.icon-menu::before,
.icon-menu>span {
  display: block;
  position: absolute;
  width: 100%;
  height: .25rem;
  background-color: #fff;
  border-radius: .125rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all .5s linear 0s
}
.icon-menu::before {
  top: 0
}
.icon-menu::after {
  bottom: 0
}
.icon-menu>span {
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}
.menu-open .icon-menu>span {
  opacity: 0;
  visibility: hidden
}
.menu-open .icon-menu::before {
  top: 50%;
  -webkit-transform: translate(-50%,-50%) rotate(45deg);
  transform: translate(-50%,-50%) rotate(45deg)
}
.menu-open .icon-menu::after {
  bottom: 50%;
  -webkit-transform: translate(-50%,50%) rotate(-45deg);
  transform: translate(-50%,50%) rotate(-45deg)
}
.footer__container {
  max-width: 79.375rem;
  padding-left: .9375rem;
  padding-right: .9375rem
}
.footer__body {
  justify-content: space-between;
  align-items: first baseline;
  gap: 2em
}
.footer__nav {
  justify-content: space-between
}
.invitebox {
  font-family: LexendDeca,sans-serif;
  font-size: 1.875em;
  align-items: end;
  row-gap: .53333em
}
.invitebox,
.invitebox__link.link {
  letter-spacing: -1.13px
}
.titlepage__body {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center
}
.titlepage__title {
  flex: 0 0 10.25em;
  font-family: LexendDeca;
  font-size: 2.25em;
  line-height: 1.33;
  min-height: 3.33333em;
  letter-spacing: -1.5px;
  z-index: 10
}
.titlepage__image {
  flex: 0 1 25.75em;
  -webkit-transform: translateY(150px);
  transform: translateY(150px)
}
.titlepage__image>img {
  z-index: 5
}
.titlepage__article {
  flex: 0 1 15.8125em;
  z-index: 10;
  row-gap: 1em
}
.titlepage__sub-image {
  flex: 0 1 100%;
  padding-right: .625rem;
  padding-bottom: 100%
}
.titlepage__sub-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.titlepage__text {
  flex: 0 1 9.5rem
}
.titlepage__decor .decor__decitem {
  opacity: 0;
  visibility: hidden
}
.anima .titlepage__decor .decor__decitem {
  opacity: 1;
  visibility: visible
}
.titlepage__decor .dec1 {
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
  max-width: 13.9375em;
  top: 0;
  right: 0
}
.anima .titlepage__decor .dec1 {
  transition: all .5s linear .7s;
  -webkit-transform: rotate(3deg) translate(51.121%,-37.7%);
  transform: rotate(3deg) translate(51.121%,-37.7%)
}
.titlepage__decor .dec2 {
  -webkit-transform: rotate(-105deg);
  transform: rotate(-105deg);
  max-width: 14.804375em;
  bottom: 0;
  right: 0
}
.anima .titlepage__decor .dec2 {
  transition: all .5s linear 1.2s;
  -webkit-transform: translate(34.628%,51.52%) rotate(-105deg);
  transform: translate(34.628%,51.52%) rotate(-105deg)
}
.titlepage__decor .dec3 {
  max-width: 12.3125em;
  left: 0;
  bottom: 0
}
.anima .titlepage__decor .dec3 {
  transition: all .5s linear 1.7s;
  -webkit-transform: translate(-45.177%,28.5%);
  transform: translate(-45.177%,28.5%)
}
.about-top__container {
  padding-top: 3.75rem
}
.about-top__body {
  justify-content: space-between;
  gap: 2em
}
.about-top__left-image {
  align-self: start
}
.about-top__left-image .decor__decitem {
  width: 110.9365%;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-49.22%,31.2845%);
  transform: translate(-49.22%,31.2845%)
}
.about-top__left-image .decor__decitem>* {
  max-width: 100%
}
.about-top__article {
  display: flex;
  row-gap: 1.25em
}
.about-top__right-image {
  align-self: end;
  -webkit-transform: translateY(24.3396%);
  transform: translateY(24.3396%)
}
.anima .about-top__right-image {
  transition: -webkit-transform 1s ease .3s;
  transition: transform 1s ease .3s;
  transition: transform 1s ease .3s,-webkit-transform 1s ease .3s;
  -webkit-transform: translateY(24.3396%);
  transform: translateY(24.3396%)
}
.anima-prev .about-top__right-image {
  -webkit-transform: translateY(calc(24.3396% - 150px));
  transform: translateY(calc(24.3396% - 150px))
}
.anima-next .about-top__right-image {
  -webkit-transform: translateY(calc(24.3396% + 150px));
  transform: translateY(calc(24.3396% + 150px))
}
.about-top__right-image .decor__decitem {
  width: 134.8235%;
  top: 50%;
  -webkit-transform: translate(-65.8345%,-50%);
  transform: translate(-65.8345%,-50%)
}
.about-top__right-image .decor__decitem>* {
  max-width: 100%
}
.about-bottom {
  transition: all .5s linear 0s
}
.about-bottom.anima {
  transition: padding .5s linear 1s,background-color .5s linear 1.5s;
  background-color: #c5cebd
}
.about-bottom__body {
  flex: 0 0 100%;
  left: -38.75%
}
.about-bottom__big-image {
  flex: 0 0 38.75%;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%)
}
.anima .about-bottom__big-image {
  transition: -webkit-transform 1s linear 0s;
  transition: transform 1s linear 0s;
  transition: transform 1s linear 0s,-webkit-transform 1s linear 0s;
  -webkit-transform: translate(0);
  transform: translate(0)
}
.about-bottom__big-image>img {
  width: 100%
}
.about-bottom__big-image .decor__decitem {
  right: 0;
  bottom: 0;
  max-width: 13.839375rem;
  -webkit-transform: translate(52.8384%,40.517%) rotate(164deg);
  transform: translate(52.8384%,40.517%) rotate(164deg);
  opacity: 0;
  visibility: hidden
}
.anima .about-bottom__big-image .decor__decitem {
  opacity: 1;
  visibility: visible;
  transition: all .7s ease 1.5s
}
.about-bottom__content {
  flex: 0 0 61.25%;
  height: 100%;
  justify-content: space-between;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em
}
.about-bottom__article {
  flex-wrap: wrap;
  row-gap: 2.625em;
  padding-left: .625rem;
  justify-content: flex-end
}
.about-bottom__title {
  margin-left: calc(-1.083333em - .625rem)
}
.about-bottom__text {
  flex: 0 1 19.25rem
}
.about-bottom__small-image {
  align-self: flex-end
}
.anima .about-bottom__small-image {
  -webkit-transform: translateY(52.5%);
  transform: translateY(52.5%);
  transition: -webkit-transform 1s linear 0s;
  transition: transform 1s linear 0s;
  transition: transform 1s linear 0s,-webkit-transform 1s linear 0s
}
.anima-prev .about-bottom__small-image {
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.anima-next .about-bottom__small-image {
  -webkit-transform: translateY(100%);
  transform: translateY(100%)
}
.about-bottom__container {
  justify-content: flex-end;
  height: 100%
}
.about-bottom__decor-picture {
  position: absolute;
  right: 0;
  bottom: 5.625em;
  width: 25em;
  -webkit-transform: translateX(75%);
  transform: translateX(75%)
}
.about-bottom__decor-picture>img {
  width: 100%
}
.about-bottom__decor-picture .decor__decitem {
  width: 150.75%;
  top: 4.29125em;
  left: 0;
  -webkit-transform: translateX(-41.2935%) rotate(56deg);
  transform: translateX(-41.2935%) rotate(56deg)
}
.about-bottom__decor-picture .decor__decitem>* {
  max-width: 100%
}
.service__container {
  max-width: 54.25rem
}
.service__title {
  text-align: center
}
.anima-next .service__title,
.anima-prev .service__title {
  -webkit-transform: scale(0);
  transform: scale(0)
}
.anima .service__title {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: -webkit-transform .5s linear 2s;
  transition: transform .5s linear 2s;
  transition: transform .5s linear 2s,-webkit-transform .5s linear 2s
}
.service__body {
  display: flex;
  justify-content: space-between;
  align-items: start;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em
}
.service__card {
  flex: 0 1 11.875rem
}
.anima-next .service__card,
.anima-prev .service__card {
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg)
}
.anima .service__card {
  -webkit-transform: rotateY(0);
  transform: rotateY(0)
}
.anima .service__card:first-child {
  transition: -webkit-transform 1s ease 0s;
  transition: transform 1s ease 0s;
  transition: transform 1s ease 0s,-webkit-transform 1s ease 0s
}
.anima .service__card:last-child {
  transition: -webkit-transform 1s ease 1.4s;
  transition: transform 1s ease 1.4s;
  transition: transform 1s ease 1.4s,-webkit-transform 1s ease 1.4s
}
.anima .service__card:nth-child(2) {
  transition: -webkit-transform 1s ease .7s;
  transition: transform 1s ease .7s;
  transition: transform 1s ease .7s,-webkit-transform 1s ease .7s
}
.card--revers .service__cardlink {
  flex-direction: column-reverse
}
.service__titlebox {
  align-items: end;
  text-align: right
}
.anima-next .service__link,
.anima-prev .service__link {
  -webkit-transform: scale(0);
  transform: scale(0)
}
.anima .service__link {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: -webkit-transform .5s linear 2s;
  transition: transform .5s linear 2s;
  transition: transform .5s linear 2s,-webkit-transform .5s linear 2s
}
.service__decor .decor__decitem {
  opacity: 0;
  visibility: hidden
}
.anima .service__decor .decor__decitem {
  opacity: 1;
  visibility: visible
}
.service__decor .dec1 {
  max-width: 13.6875rem;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(38.356%,31%);
  transform: translate(38.356%,31%)
}
.anima .service__decor .dec1 {
  -webkit-transform: translate(38.356%,31%);
  transform: translate(38.356%,31%);
  transition: all .5s linear 2s
}
.service__decor .dec2 {
  width: 114.5368%;
  right: 0;
  top: 50%
}
.anima .service__decor .dec2 {
  -webkit-transform: translate(67.74%,-50%);
  transform: translate(67.74%,-50%);
  transition: all .5s linear 1.4s
}
.card__image {
  overflow: hidden
}
.card__image img {
  transition: -webkit-transform .5s linear 0s;
  transition: transform .5s linear 0s;
  transition: transform .5s linear 0s,-webkit-transform .5s linear 0s
}
.card__group {
  transition: color .5s linear .5s,text-shadow .5s linear 0s;
  font-family: LexendDeca;
  font-size: 1.875em;
  letter-spacing: -1.13px
}
.baner {
  aspect-ratio: 1440/720
}
.baner__image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
.baner__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.baner__container {
  aspect-ratio: 1440/720;
  justify-content: center;
  align-items: flex-end;
  height: 100%
}
.baner__article {
  flex: 0 1 37.5625rem;
  text-align: center;
  row-gap: 1em;
  -webkit-transform: scale(0);
  transform: scale(0)
}
.anima .baner__article {
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: -webkit-transform .5s linear .5s;
  transition: transform .5s linear .5s;
  transition: transform .5s linear .5s,-webkit-transform .5s linear .5s
}
.baner__text {
  max-width: 24.5625rem
}
.baner__important {
  position: absolute;
  top: 0;
  right: 0;
  letter-spacing: .125rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transform: translateX(50%) rotate(-270deg);
  transform: translateX(50%) rotate(-270deg);
  opacity: 0;
  visibility: hidden
}
.anima .baner__important {
  opacity: 1;
  visibility: visible;
  transition: all 1s linear 1s
}
.bookbox__body {
  width: 100%;
  height: 100%;
  justify-content: center
}
.bookbox__left-image {
  align-self: flex-end
}
.bookbox__big-image .dec1 {
  max-width: 51.528%;
  top: 32.745%;
  left: 0;
  -webkit-transform: rotate(-266deg);
  transform: rotate(-266deg)
}
.anima .bookbox__big-image .dec1 {
  transition: left .5s ease .7s;
  left: -43.2314%
}
.bookbox__big-image .dec2 {
  max-width: 47.81659%;
  top: 13.43137%;
  right: 0;
  -webkit-transform: rotate(43deg);
  transform: rotate(43deg);
  opacity: 0;
  visibility: hidden
}
.anima .bookbox__big-image .dec2 {
  opacity: 1;
  visibility: visible;
  transition: all .5s ease 1.2s;
  -webkit-transform: translateX(31.96347%) rotate(43deg);
  transform: translateX(31.96347%) rotate(43deg)
}
.bookbox__left-image,
.bookbox__right-box {
  z-index: 10
}
.bookbox__right-box {
  min-height: 100%;
  display: grid;
  align-content: space-between
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  opacity: 0;
  visibility: hidden;
  overflow: auto;
  transition: all .5s linear 1s
}
.popup.popup-open {
  opacity: 1;
  visibility: visible;
  background: radial-gradient(circle,#dfccc2 45%,#f1e8e3 100%);
  transition: all .5s linear 0s
}
.popup__wrapper {
  min-height: 100%;
  overflow: hidden;
  padding: 6.25em .9375rem;
  justify-content: center
}
.popup__form {
  max-width: 25rem;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all .5s linear .5s
}
.popup-open .popup__form {
  opacity: 1;
  visibility: visible;
  transition: all 1s linear .5s;
  -webkit-transform: translateY(0);
  transform: translateY(0)
}
.popup__decor .decor__decitem {
  opacity: 0;
  visibility: hidden;
  transition: all .5s linear 0s
}
.popup-open .popup__decor .decor__decitem {
  opacity: 1;
  visibility: visible;
  transition: all .5s linear 1.5s
}
.popup__decor .dec1 {
  -webkit-transform: rotate(3deg);
  transform: rotate(3deg);
  max-width: 13.9375em;
  top: 0;
  right: 0
}
.popup-open .popup__decor .dec1 {
  -webkit-transform: rotate(3deg) translate(40%,-30%);
  transform: rotate(3deg) translate(40%,-30%)
}
.popup__decor .dec2 {
  -webkit-transform: rotate(-105deg);
  transform: rotate(-105deg);
  max-width: 14.804375em;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg)
}
.popup-open .popup__decor .dec2 {
  -webkit-transform: translate(34.628%,80%) rotate(-15deg);
  transform: translate(34.628%,80%) rotate(-15deg)
}
.popup__decor .dec3 {
  max-width: 12.3125em;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%)
}
.popup-open .popup__decor .dec3 {
  -webkit-transform: translate(-45.177%,-50%);
  transform: translate(-45.177%,-50%)
}
.popup__close,
.popup__form,
.popup__input {
  border-radius: .3125rem
}
.popup__body {
  background-color: #cdb0a1;
  padding: 1em
}
.popup__title {
  padding: 0 2rem
}
.popup__body {
  row-gap: 1em
}
.popup__label {
  font-family: LexendDeca;
  line-height: 110%;
  cursor: pointer
}
.popup__label,
.popup__text {
  text-align: center
}
.popup__inputbox {
  width: 100%;
  row-gap: .5em
}
.popup__input {
  background-color: #f1e8e3;
  padding: .2em 1em;
  text-align: center
}
.popup__input::-webkit-input-placeholder {
  opacity: .5;
  color: #bc947f
}
.popup__input:-ms-input-placeholder {
  opacity: .5;
  color: #bc947f
}
.popup__input::-ms-input-placeholder {
  opacity: .5;
  color: #bc947f
}
.popup__input::placeholder {
  opacity: .5;
  color: #bc947f
}
.popup__button {
  font-size: 2em
}
.popup__close {
  align-self: flex-end;
  border: .0625rem solid #fff;
  padding: .1rem .3125rem;
  margin-bottom: -1.625rem
}
.popup__close.hover {
  border-color: #f95454
}
.popup__close.hover span::before,
.popup__close.hover span:after {
  background-color: #f95454;
  transition: background-color .3s linear 0s
}
.popup__close span {
  flex-shrink: 0;
  width: 1.25rem;
  height: 1.25em
}
.popup__close span::after,
.popup__close span::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: .125rem;
  background-color: #fff;
  border-radius: .125rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all .5s linear 0s
}
.popup__close span::before {
  top: 0
}
.popup__close span::after {
  bottom: 0
}
.popup__close span::before {
  top: 50%;
  -webkit-transform: translate(-50%,-50%) rotate(45deg);
  transform: translate(-50%,-50%) rotate(45deg)
}
.popup__close span::after {
  bottom: 50%;
  -webkit-transform: translate(-50%,50%) rotate(-45deg);
  transform: translate(-50%,50%) rotate(-45deg)
}
@media (min-width:30.0625em) {
  .titlepage__article {
    margin-left: -4.0625rem
  }
}
@media (min-width:30.03125em) {
  .bookbox__link {
    align-self: start
  }
}
@media (min-width:48.03125em) {
  .menu__list {
    flex-wrap: wrap
  }
  .menu__actions,
  .menu__body {
    flex: 0 1 calc(50% - 6.25rem)
  }
  .titlepage__title {
    margin-right: -5.25rem;
    padding-top: 1.416666em
  }
  .titlepage__article {
    flex-wrap: wrap;
    justify-content: flex-end
  }
  .about-top__left-image {
    flex: 0 1 19.694375rem
  }
  .about-top__article {
    flex: 0 1 24.428125rem
  }
  .about-top__right-image {
    flex: 0 1 23.039375rem;
    margin-top: 2.25rem
  }
  .about-bottom__article {
    flex: 0 1 22.75rem
  }
  .about-bottom__small-image {
    flex: 0 1 21.125rem
  }
  .service__titlebox {
    position: absolute;
    width: 18.4375em;
    left: 0;
    bottom: 0;
    -webkit-transform: translate(-82.711%,6.25em);
    transform: translate(-82.711%,6.25em);
    z-index: 10
  }
  .bookbox__body {
    padding: 6.25em 0
  }
  .bookbox__left-image {
    flex: 0 1 15.9375rem;
    -webkit-transform: translate(25.76419%,27.34375%) scale(0);
    transform: translate(25.76419%,27.34375%) scale(0)
  }
  .anima .bookbox__left-image {
    transition: -webkit-transform .5s linear 1s;
    transition: transform .5s linear 1s;
    transition: transform .5s linear 1s,-webkit-transform .5s linear 1s;
    -webkit-transform: translate(25.76419%,27.34375%) scale(1);
    transform: translate(25.76419%,27.34375%) scale(1)
  }
  .bookbox__big-image {
    flex: 0 1 28.625rem
  }
  .bookbox__right-box {
    flex: 0 1 18.875rem;
    -webkit-transform: translate(-27.7%,-6.125em);
    transform: translate(-27.7%,-6.125em)
  }
}
@media (min-width:48.03125em)and (min-width:80.5em) {
  .menu__list {
    -webkit-column-gap: 5.0625rem;
    -moz-column-gap: 5.0625rem;
    column-gap: 5.0625rem
  }
}
@media (min-width:62.03125em) {
  .invitebox__action {
    padding-right: .73333em
  }
  .bookbox__article {
    padding-left: 1.25em
  }
}
@media (min-width:80.5em) {
  [class*=__container] {
    font-size: 1rem
  }
  .title {
    font-size: 2.5rem
  }
  .title--big {
    font-size: 3.75rem
  }
  .menu__logo {
    max-width: 9.1875rem
  }
  .footer__container {
    padding-top: 6.25rem
  }
  .footer__container {
    padding-bottom: 6.25rem
  }
  .footer__nav {
    -webkit-column-gap: 4.6875rem;
    -moz-column-gap: 4.6875rem;
    column-gap: 4.6875rem
  }
  .footer__list {
    row-gap: 2rem
  }
  .titlepage__container {
    padding-top: 6.25rem
  }
  .titlepage__container {
    padding-bottom: 5rem
  }
  .about-bottom {
    padding-top: 9.375rem
  }
  .about-bottom.anima {
    padding-bottom: 9.375rem
  }
  .service__container {
    padding-top: 9.375rem
  }
  .service__container {
    padding-bottom: 9.375rem
  }
  .service__title {
    margin-bottom: 6.625rem
  }
  .service__card:last-child {
    margin-top: 5.4375rem
  }
  .service__card:nth-child(2) {
    margin-top: 9.0625rem
  }
  .baner__container {
    padding-top: 6.625rem
  }
  .baner__container {
    padding-bottom: 6.625rem
  }
  .bookbox__container {
    padding-top: 6.25rem
  }
  .bookbox__container {
    padding-bottom: 6.25rem
  }
  .popup__wrapper {
    font-size: 1rem
  }
}
@media (min-width:80.53125em) {
  .about-bottom__title {
    padding-right: .45em
  }
}
@media (max-width:62em) {
  .bookbox__article,
  .service__cardlink,
  .service__titlebox {
    row-gap: 1.5em
  }
  .header__container {
    padding-top: .625rem
  }
  .about-bottom__article {
    row-gap: 1em;
    align-self: start
  }
  .about-bottom__decor-picture {
    width: 21.875em
  }
}
@media (max-width:48em) {
  .about-bottom__content,
  .about-top__body,
  .bookbox__body,
  .footer__body,
  .menu__list,
  .titlepage__body {
    flex-direction: column
  }
  .bookbox__article,
  .service__cardlink,
  .service__titlebox {
    row-gap: 1em
  }
  .header::before {
    background-color: #bc947f
  }
  .menu__list {
    width: 100%;
    padding: 0 .9375rem;
    align-items: start;
    max-height: 100%;
    overflow: auto;
    row-gap: 2em
  }
  .menu__link {
    font-size: 1rem
  }
  .menu__body {
    padding-top: 6.25em;
    padding-bottom: 2em;
    position: fixed;
    width: 40%;
    height: 100%;
    background-color: #f1e8e3;
    color: #bc947f;
    top: 0;
    left: -100%;
    z-index: 0;
    transition: left 1s linear 0s
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu__actions {
    flex: 0 1 6.25em
  }
  .icon-menu {
    display: block
  }
  .footer__body {
    align-items: center
  }
  .footer__list {
    align-items: center
  }
  .invitebox {
    align-items: center;
    text-align: center
  }
  .titlepage__body {
    align-items: center
  }
  .titlepage__title {
    flex: 0 0 auto;
    max-width: 10.25em;
    margin-bottom: -3.75rem;
    text-align: center
  }
  .titlepage__image {
    flex: 0 0 auto;
    max-width: 25em
  }
  .titlepage__article {
    flex: 0 0 auto;
    align-items: end;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    margin-top: -5rem
  }
  .titlepage__sub-image {
    flex: 0 0 12.5em;
    padding-bottom: 12.5em
  }
  .titlepage__decor .dec3 {
    bottom: auto
  }
  .anima .titlepage__decor .dec3 {
    -webkit-transform: translate(-45.177%,-28.5%);
    transform: translate(-45.177%,-28.5%)
  }
  .about-top__left-image .decor__decitem {
    bottom: 50%;
    right: 0;
    -webkit-transform: translate(49.22%,31.2845%);
    transform: translate(49.22%,31.2845%)
  }
  .about-top__left-image,
  .about-top__right-image {
    max-width: 40%
  }
  .about-top__article {
    text-align: center
  }
  .about-top__right-image {
    -webkit-transform: translateY(3.125em);
    transform: translateY(3.125em)
  }
  .anima .about-top__right-image {
    -webkit-transform: translateY(3.125em);
    transform: translateY(3.125em)
  }
  .anima-prev .about-top__right-image {
    -webkit-transform: translateY(calc(3.125em - 150px));
    transform: translateY(calc(3.125em - 150px))
  }
  .anima-next .about-top__right-image {
    -webkit-transform: translateY(calc(3.125em + 150px));
    transform: translateY(calc(3.125em + 150px))
  }
  .about-top__right-image .decor__decitem {
    top: 70%
  }
  .about-bottom__article {
    max-width: 22.75rem
  }
  .about-bottom__small-image {
    max-width: 50%;
    -webkit-transform: translateY(3.125em);
    transform: translateY(3.125em)
  }
  .about-bottom__decor-picture {
    width: 18.75em;
    bottom: 0
  }
  .service__body {
    margin-bottom: 1.25rem
  }
  .service__titlebox {
    position: relative;
    z-index: 5;
    align-items: start;
    text-align: left;
    padding-right: .625rem
  }
  .service__boxtitle {
    max-width: 25.9375rem
  }
  .baner__article {
    flex: 0 1 38.75rem;
    padding: 0 .625rem
  }
  .baner__important {
    right: .9375rem
  }
  .bookbox__body {
    align-items: center
  }
  .bookbox__left-image {
    margin-bottom: -5.625em;
    max-width: 15.9375em
  }
  .bookbox__big-image {
    max-width: 25em
  }
  .bookbox__right-box {
    align-self: start;
    display: flex;
    -webkit-column-gap: 1em;
    -moz-column-gap: 1em;
    column-gap: 1em;
    margin-top: -6.125em;
    align-items: center;
    justify-content: space-between
  }
  .bookbox__right-image {
    max-width: 15.9375em
  }
  .bookbox__article {
    flex: 0 1 18.875rem
  }
  .popup__decor .dec3 {
    bottom: auto
  }
  .popup-open .popup__decor .dec3 {
    -webkit-transform: translate(-45.177%,-28.5%);
    transform: translate(-45.177%,-28.5%)
  }
}
@media (max-width:30em) {
  .menu__list {
    align-items: center
  }
  .menu__body {
    width: 100%;
    justify-content: center;
    text-align: center
  }
  .menu-open .footer,
  .menu-open .page {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
  }
  .titlepage__image {
    padding-left: .9375rem
  }
  .about-bottom__decor-picture {
    width: 15.625em
  }
  .bookbox__left-image {
    max-width: 12.5em
  }
  .bookbox__big-image {
    padding: 0 1.25em
  }
  .bookbox__right-image {
    max-width: 12.5em
  }
  .bookbox__article {
    flex: 0 0 auto;
    align-items: center;
    text-align: center;
    padding-top: 2em
  }
  .popup__wrapper {
    padding: 5em 2em
  }
}
@media (max-width:20em) {
  [class*=__container] {
    font-size: .75rem
  }
  .title {
    font-size: 1.5625rem
  }
  .title--big {
    font-size: 1.875rem
  }
  .menu__logo {
    max-width: 6.25rem
  }
  .footer__container {
    padding-top: 1.25rem
  }
  .footer__container {
    padding-bottom: 1.25rem
  }
  .footer__nav {
    -webkit-column-gap: 1.5625rem;
    -moz-column-gap: 1.5625rem;
    column-gap: 1.5625rem
  }
  .footer__list {
    row-gap: 1rem
  }
  .titlepage__container {
    padding-top: 3.75rem
  }
  .titlepage__container {
    padding-bottom: 2.5rem
  }
  .about-bottom {
    padding-top: 3.125rem
  }
  .about-bottom.anima {
    padding-bottom: 3.125rem
  }
  .service__container {
    padding-top: 3.125rem
  }
  .service__container {
    padding-bottom: 3.125rem
  }
  .service__title {
    margin-bottom: 1.25rem
  }
  .service__card:last-child {
    margin-top: 2.8125rem
  }
  .service__card:nth-child(2) {
    margin-top: 4.375rem
  }
  .baner__container {
    padding-top: 3.125rem
  }
  .baner__container {
    padding-bottom: 3.125rem
  }
  .bookbox__container {
    padding-top: 3.125rem
  }
  .bookbox__container {
    padding-bottom: 3.125rem
  }
  .popup__wrapper {
    font-size: .75rem
  }
}
@media (max-width:80.5em) {
  [class*=__container] {
    max-width: 60.625rem
  }
  .about-bottom__article {
    row-gap: 1.5em
  }
}
@media (max-width:80.5em)and (max-width:20em) {
  .title--big {
    font-size: 1.875rem
  }
}
@media (max-width:61.99875em) {
  [class*=__container] {
    max-width: 46.875rem
  }
}
@media (max-width:47.99875em) {
  [class*=__container] {
    max-width: none;
    padding: 0 .9375rem
  }
}
@media (min-width:20em)and (max-width:80.5em) {
  @supports (font-size:clamp(0.75rem ,0.6673553719rem + 0.4132231405vw ,1rem)) {
    [class*=__container] {
      font-size: clamp(.75rem ,.6673553719rem + .4132231405vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.75rem ,0.6673553719rem + 0.4132231405vw ,1rem)) {
    [class*=__container] {
      font-size: calc(.75rem + .25*(100vw - 20rem)/ 60.5)
    }
  }
  @supports (font-size:clamp(1.5625rem ,1.2525826446rem + 1.5495867769vw ,2.5rem)) {
    .title {
      font-size: clamp(1.5625rem ,1.2525826446rem + 1.5495867769vw ,2.5rem)
    }
  }
  @supports not (font-size:clamp(1.5625rem ,1.2525826446rem + 1.5495867769vw ,2.5rem)) {
    .title {
      font-size: calc(1.5625rem + .9375*(100vw - 20rem)/ 60.5)
    }
  }
  @supports (font-size:clamp(1.875rem ,1.2551652893rem + 3.0991735537vw ,3.75rem)) {
    .title--big {
      font-size: clamp(1.875rem ,1.2551652893rem + 3.0991735537vw ,3.75rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,1.2551652893rem + 3.0991735537vw ,3.75rem)) {
    .title--big {
      font-size: calc(1.875rem + 1.875*(100vw - 20rem)/ 60.5)
    }
  }
  @supports (max-width:clamp(6.25rem ,5.2789256198rem + 4.8553719008vw ,9.1875rem)) {
    .menu__logo {
      max-width: clamp(6.25rem ,5.2789256198rem + 4.8553719008vw ,9.1875rem)
    }
  }
  @supports not (max-width:clamp(6.25rem ,5.2789256198rem + 4.8553719008vw ,9.1875rem)) {
    .menu__logo {
      max-width: calc(6.25rem + 2.9375*(100vw - 20rem)/ 60.5)
    }
  }
  @supports (padding-top:clamp(1.25rem ,-0.402892562rem + 8.2644628099vw ,6.25rem)) {
    .footer__container {
      padding-top: clamp(1.25rem ,-.402892562rem + 8.2644628099vw ,6.25rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,-0.402892562rem + 8.2644628099vw ,6.25rem)) {
    .footer__container {
      padding-top: calc(1.25rem + 5*(100vw - 20rem)/ 60.5)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,-0.402892562rem + 8.2644628099vw ,6.25rem)) {
    .footer__container {
      padding-bottom: clamp(1.25rem ,-.402892562rem + 8.2644628099vw ,6.25rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,-0.402892562rem + 8.2644628099vw ,6.25rem)) {
    .footer__container {
      padding-bottom: calc(1.25rem + 5*(100vw - 20rem)/ 60.5)
    }
  }
  @supports ((-moz-column-gap:clamp(1.5625rem ,0.5294421488rem + 5.1652892562vw ,4.6875rem)) or (column-gap:clamp(1.5625rem ,0.5294421488rem + 5.1652892562vw ,4.6875rem))) {
    .footer__nav {
      -webkit-column-gap: clamp(1.5625rem ,.5294421488rem + 5.1652892562vw ,4.6875rem);
      -moz-column-gap: clamp(1.5625rem ,.5294421488rem + 5.1652892562vw ,4.6875rem);
      column-gap: clamp(1.5625rem ,.5294421488rem + 5.1652892562vw ,4.6875rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.5625rem ,0.5294421488rem + 5.1652892562vw ,4.6875rem)) or (column-gap:clamp(1.5625rem ,0.5294421488rem + 5.1652892562vw ,4.6875rem))) {
    .footer__nav {
      -webkit-column-gap: calc(1.5625rem + 3.125*(100vw - 20rem)/ 60.5);
      -moz-column-gap: calc(1.5625rem + 3.125*(100vw - 20rem)/ 60.5);
      column-gap: calc(1.5625rem + 3.125*(100vw - 20rem)/ 60.5)
    }
  }
  @supports (row-gap:clamp(1rem ,0.6694214876rem + 1.652892562vw ,2rem)) {
    .footer__list {
      row-gap: clamp(1rem ,.6694214876rem + 1.652892562vw ,2rem)
    }
  }
  @supports not (row-gap:clamp(1rem ,0.6694214876rem + 1.652892562vw ,2rem)) {
    .footer__list {
      row-gap: calc(1rem + 1*(100vw - 20rem)/ 60.5)
    }
  }
  @supports (padding-top:clamp(3.75rem ,2.923553719rem + 4.132231405vw ,6.25rem)) {
    .titlepage__container {
      padding-top: clamp(3.75rem ,2.923553719rem + 4.132231405vw ,6.25rem)
    }
  }
  @supports not (padding-top:clamp(3.75rem ,2.923553719rem + 4.132231405vw ,6.25rem)) {
    .titlepage__container {
      padding-top: calc(3.75rem + 2.5*(100vw - 20rem)/ 60.5)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,1.673553719rem + 4.132231405vw ,5rem)) {
    .titlepage__container {
      padding-bottom: clamp(2.5rem ,1.673553719rem + 4.132231405vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,1.673553719rem + 4.132231405vw ,5rem)) {
    .titlepage__container {
      padding-bottom: calc(2.5rem + 2.5*(100vw - 20rem)/ 60.5)
    }
  }
  @supports (padding-top:clamp(3.125rem ,1.0588842975rem + 10.3305785124vw ,9.375rem)) {
    .about-bottom {
      padding-top: clamp(3.125rem ,1.0588842975rem + 10.3305785124vw ,9.375rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,1.0588842975rem + 10.3305785124vw ,9.375rem)) {
    .about-bottom {
      padding-top: calc(3.125rem + 6.25*(100vw - 20rem)/ 60.5)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,1.0588842975rem + 10.3305785124vw ,9.375rem)) {
    .about-bottom.anima {
      padding-bottom: clamp(3.125rem ,1.0588842975rem + 10.3305785124vw ,9.375rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,1.0588842975rem + 10.3305785124vw ,9.375rem)) {
    .about-bottom.anima {
      padding-bottom: calc(3.125rem + 6.25*(100vw - 20rem)/ 60.5)
    }
  }
  @supports (padding-top:clamp(3.125rem ,1.0588842975rem + 10.3305785124vw ,9.375rem)) {
    .service__container {
      padding-top: clamp(3.125rem ,1.0588842975rem + 10.3305785124vw ,9.375rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,1.0588842975rem + 10.3305785124vw ,9.375rem)) {
    .service__container {
      padding-top: calc(3.125rem + 6.25*(100vw - 20rem)/ 60.5)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,1.0588842975rem + 10.3305785124vw ,9.375rem)) {
    .service__container {
      padding-bottom: clamp(3.125rem ,1.0588842975rem + 10.3305785124vw ,9.375rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,1.0588842975rem + 10.3305785124vw ,9.375rem)) {
    .service__container {
      padding-bottom: calc(3.125rem + 6.25*(100vw - 20rem)/ 60.5)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,-0.5268595041rem + 8.8842975207vw ,6.625rem)) {
    .service__title {
      margin-bottom: clamp(1.25rem ,-.5268595041rem + 8.8842975207vw ,6.625rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,-0.5268595041rem + 8.8842975207vw ,6.625rem)) {
    .service__title {
      margin-bottom: calc(1.25rem + 5.375*(100vw - 20rem)/ 60.5)
    }
  }
  @supports (margin-top:clamp(2.8125rem ,1.944731405rem + 4.3388429752vw ,5.4375rem)) {
    .service__card:last-child {
      margin-top: clamp(2.8125rem ,1.944731405rem + 4.3388429752vw ,5.4375rem)
    }
  }
  @supports not (margin-top:clamp(2.8125rem ,1.944731405rem + 4.3388429752vw ,5.4375rem)) {
    .service__card:last-child {
      margin-top: calc(2.8125rem + 2.625*(100vw - 20rem)/ 60.5)
    }
  }
  @supports (margin-top:clamp(4.375rem ,2.8254132231rem + 7.7479338843vw ,9.0625rem)) {
    .service__card:nth-child(2) {
      margin-top: clamp(4.375rem ,2.8254132231rem + 7.7479338843vw ,9.0625rem)
    }
  }
  @supports not (margin-top:clamp(4.375rem ,2.8254132231rem + 7.7479338843vw ,9.0625rem)) {
    .service__card:nth-child(2) {
      margin-top: calc(4.375rem + 4.6875*(100vw - 20rem)/ 60.5)
    }
  }
  @supports (padding-top:clamp(3.125rem ,1.9679752066rem + 5.7851239669vw ,6.625rem)) {
    .baner__container {
      padding-top: clamp(3.125rem ,1.9679752066rem + 5.7851239669vw ,6.625rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,1.9679752066rem + 5.7851239669vw ,6.625rem)) {
    .baner__container {
      padding-top: calc(3.125rem + 3.5*(100vw - 20rem)/ 60.5)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,1.9679752066rem + 5.7851239669vw ,6.625rem)) {
    .baner__container {
      padding-bottom: clamp(3.125rem ,1.9679752066rem + 5.7851239669vw ,6.625rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,1.9679752066rem + 5.7851239669vw ,6.625rem)) {
    .baner__container {
      padding-bottom: calc(3.125rem + 3.5*(100vw - 20rem)/ 60.5)
    }
  }
  @supports (padding-top:clamp(3.125rem ,2.0919421488rem + 5.1652892562vw ,6.25rem)) {
    .bookbox__container {
      padding-top: clamp(3.125rem ,2.0919421488rem + 5.1652892562vw ,6.25rem)
    }
  }
  @supports not (padding-top:clamp(3.125rem ,2.0919421488rem + 5.1652892562vw ,6.25rem)) {
    .bookbox__container {
      padding-top: calc(3.125rem + 3.125*(100vw - 20rem)/ 60.5)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,2.0919421488rem + 5.1652892562vw ,6.25rem)) {
    .bookbox__container {
      padding-bottom: clamp(3.125rem ,2.0919421488rem + 5.1652892562vw ,6.25rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,2.0919421488rem + 5.1652892562vw ,6.25rem)) {
    .bookbox__container {
      padding-bottom: calc(3.125rem + 3.125*(100vw - 20rem)/ 60.5)
    }
  }
  @supports (font-size:clamp(0.75rem ,0.6673553719rem + 0.4132231405vw ,1rem)) {
    .popup__wrapper {
      font-size: clamp(.75rem ,.6673553719rem + .4132231405vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.75rem ,0.6673553719rem + 0.4132231405vw ,1rem)) {
    .popup__wrapper {
      font-size: calc(.75rem + .25*(100vw - 20rem)/ 60.5)
    }
  }
}
@media (max-width:80.5em)and (min-width:80.5em) {
  .title--big {
    font-size: 3.125rem
  }
}
@media (max-width:80.5em)and (min-width:20em)and (max-width:80.5em) {
  @supports (font-size:clamp(1.875rem ,1.4617768595rem + 2.0661157025vw ,3.125rem)) {
    .title--big {
      font-size: clamp(1.875rem ,1.4617768595rem + 2.0661157025vw ,3.125rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,1.4617768595rem + 2.0661157025vw ,3.125rem)) {
    .title--big {
      font-size: calc(1.875rem + 1.25*(100vw - 20rem)/ 60.5)
    }
  }
}
@media (min-width:48.03125em)and (min-width:20em)and (max-width:80.5em) {
  @supports ((-moz-column-gap:clamp(1rem ,-0.3429752066rem + 6.7148760331vw ,5.0625rem)) or (column-gap:clamp(1rem ,-0.3429752066rem + 6.7148760331vw ,5.0625rem))) {
    .menu__list {
      -webkit-column-gap: clamp(1rem ,-.3429752066rem + 6.7148760331vw ,5.0625rem);
      -moz-column-gap: clamp(1rem ,-.3429752066rem + 6.7148760331vw ,5.0625rem);
      column-gap: clamp(1rem ,-.3429752066rem + 6.7148760331vw ,5.0625rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1rem ,-0.3429752066rem + 6.7148760331vw ,5.0625rem)) or (column-gap:clamp(1rem ,-0.3429752066rem + 6.7148760331vw ,5.0625rem))) {
    .menu__list {
      -webkit-column-gap: calc(1rem + 4.0625*(100vw - 20rem)/ 60.5);
      -moz-column-gap: calc(1rem + 4.0625*(100vw - 20rem)/ 60.5);
      column-gap: calc(1rem + 4.0625*(100vw - 20rem)/ 60.5)
    }
  }
}
@media (min-width:48.03125em)and (max-width:20em) {
  .menu__list {
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem
  }
}
@media (max-width:62em)and (min-width:48.03125em) {
  .titlepage__text {
    flex: 0 1 calc(100% - 4.6875rem)
  }
}
@media (min-height:39.96875em)and (max-height:64em) {
  .bookbox__container,
  .titlepage__container {
    min-height: 100vh;
    display: flex;
    align-items: center
  }
}
@media (any-hover:hover) {
  .footer__link:hover,
  .menu__link:hover {
    transition: color .5s linear .5s,text-shadow .5s linear 0s;
    color: #f95454;
    text-shadow: 1px 1px 4px #f95454
  }
  .link:hover span {
    transition: background-position .5s linear 0s,text-shadow .5s linear .5s;
    background-position: 0 100%;
    text-shadow: 1px 1px 4px #f95454
  }
  .link:hover::before {
    box-shadow: 1px 1px 4px #f95454
  }
  .service__cardlink:hover .card__image img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
  .service__cardlink:hover .card__group {
    transition: color .5s linear 0s,text-shadow .5s linear .5s;
    color: #f95454;
    text-shadow: 1px 1px 4px #f95454
  }
  .popup__close:hover {
    border-color: #f95454
  }
  .popup__close:hover span::before,
  .popup__close:hover span:after {
    background-color: #f95454;
    transition: background-color .5s linear 0s
  }
}
@media (min-height:30.03125em) {
  .titlepage__article {
    row-gap: 1.875em;
    padding-top: .5rem
  }
}